.captcha-harvester-container{
	width: 432px;
	height: 720px;
	top: 50%;

	background: #21232E;
	margin: auto;
	padding: 10px;
}
.captcha-harvester-container h1{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 37px;
	letter-spacing: 0.03em;

	color: #C4C4C4;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.captcha-harvester-container .icon{
	width: 26px;
	height: 26px;
}

.captcha-harvester-container .text-area{
	width: 392px;
	height: 484px;
	background: #3D4158;
	box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.45);
	border-radius: 15px;
}

.captcha-harvester-container .textarea{
	width: 388px;
	height: 36px;
	background: #3D4158;
	box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.45);
	border-radius: 10px;
}