.create-profile-shipping-container{
	width: 850px;
	height: 442px;

	background: #21232E;
	border-radius: 15px;
	margin: auto;
}
.create-profile-shipping-container h1{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 37px;
	letter-spacing: 0.03em;

	color: #C4C4C4;
}

.create-profile-shipping-container .shipping-address{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	line-height: 26px;
	letter-spacing: 0.03em;

	color: #C4C4C4;
}

.create-profile-shipping-container h2{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 25px;
	/* identical to box height */

	letter-spacing: 0.03em;

	color: #C4C4C4;
}


.create-profile-shipping-container .button{
	width: 130px;
	height: 35px;
	background: #3D4158;
	border-radius: 10px;
	filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.45))
}

.create-profile-shipping-container .text-area-left{
	width: 410px;
	height: 30px;
	background: #3D4158;
	border-radius: 10px;
}

.create-profile-shipping-container .text-area-right{
	width: 180px;
	height: 30px;
	background: #3D4158;
	border-radius: 10px;
}

.create-profile-shipping-container .button-text{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 25px;

	color: #C4C4C4;
}

