.create-proxy-container{
	width: 858px;
	height: 442px;

	background: #201636;
	border-radius: 15px;
	margin: auto;
	padding: 10px;
	top: 50%;
}

.create-proxy-container h1{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 37px;
	letter-spacing: 0.03em;

	color: #C4C4C4;
}

.create-proxy-container p{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 19px;

	color: #C4C4C4;
}

::placeholder{
	color: #C4C4C4;
	opacity: 1;
}

.create-proxy-container .text-area{
	width: 810px;
	height: 296px;

	background: #291C43;
	border-radius: 20px;
}

.create-proxy-container .group-name{
	position: absolute;
	width: 180px;
	height: 30px;

	background: #291C43;
	border-radius: 10px;
	border: 0;
}

.create-proxy-container .routing{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 25px;

	color: #C4C4C4;
}