.create-captcha-container{
	width: 567px;
	height: 240px;
	top: 50%;
	background: #21232E;
	border-radius: 10px;
	margin: auto;
}

.create-captcha-container .cch{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 37px;
	letter-spacing: 0.03em;

	color: #C4C4C4;
}

.create-captcha-container .textarea{
	position: absolute;
	width: 525px;
	height: 30px;

	background: #3D4158;
	border-radius: 10px;
}

.create-captcha-container .textarea-hn{
	position: absolute;
	width: 180px;
	height: 30px;

	background: #3D4158;
	border-radius: 10px;
}

.create-captcha-container .textarea .text{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	/* identical to box height */


	color: #C4C4C4;
}

.create-captcha-container .routing{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 25px;

	color: #C4C4C4;
	color: inherit;
    text-decoration: inherit;
}
