.dashboard-container{
	width: 100%;
	height: 100vh;
	
	padding: 15px;
}

.dashboard-container .dashboard-wrapper{
	width: 1020px;
	height: 96%;

	background: #201636;
	border-radius: 25px;
}

.dashboard-container .heading-wrapper{
	width: 976px;
	height: 49.15px;
	background: #180F29;
	box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}

.dashboard-container h1{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	text-align: center;

	color: #C4C4C4;
}

.dashboard-container .inside-wrapper{
	width: 976px;
	height: 85.72px;
	background: #1D1130;
	border-radius: 15px;
	filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));
}

.dashboard-container h2{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	text-align: center;

	color: #C4C4C4;
}