@import url('http://db.onlinewebfonts.com/c/f608cf0f495fc936317f6ba9637d3b7e?family=MADE+TOMMY');
/* base styles */
* {
  margin: 0;
  font-family: "MADE TOMMY";
  color: #333;
}

.rectangle_background11{
	position: relative;
	width: 550px;
	height: 200px;
	left: 366px;
	top: 240px;

	background: #21232E;
	border-radius: 15px;
}
.delay_task{
	position: absolute;
	left: 235px;
	top: 7px;

	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 37px;
	letter-spacing: 0.03em;

	color: #C4C4C4;
}
.monitor_delay{
	position: absolute;
	width: 220px;
	height: 51px;
	left: 40px;
	top: 75px;

	background: url(../assets/icons/monitor_delay.png);
	box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.45);
}

.retry_delay{
	position: absolute;
	width: 220px;
	height: 51px;
	left: 290px;
	top: 75px;

	background: url(../assets/icons/retry_delay.png);
	box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.45);
}

.close_dt{
	position: absolute;
	width: 55px;
	height: 26px;
	left: 371px;
	top: 157px;

	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 25px;

	color: #C4C4C4;
	
}

.save_dt{
	position: absolute;
	left: 476px;
	top: 157px;

	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 25px;


	color: #C4C4C4;

}