.delay-task-container{
	width: 550px;
	height: 200px;
	transform: translateY(100%);
	z-index: 99;

	background: #201636;
	border-radius: 15px;
	margin: auto;
}

.delay-task-container h1{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 37px;
	letter-spacing: 0.03em;

	color: #C4C4C4;
}
.delay-task-container h2{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 0.03em;
	padding-top: 12px;

	color: #C4C4C4;
}
.delay-task-container .button{
	width: 220px;
	height: 51px;
	background: #291C43;
	border-radius: 10px;
	box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.45);
	
}

.delay-task-container .button-text{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 25px;

	color: #C4C4C4;
}