.edit-profile-billing-container{
	width: 850px;
	height: 442px;
	transform: translateY(35%);
	z-index: 99;
	background: #201636;
	border-radius: 15px;
	margin: auto;
}
.edit-profile-billing-container h1{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 37px;
	letter-spacing: 0.03em;

	color: #C4C4C4;
	font-weight: bold;
}

.edit-profile-billing-container .billing-address{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	line-height: 26px;
	letter-spacing: 0.03em;

	color: #C4C4C4;
}

.edit-profile-billing-container h2{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 25px;
	/* identical to box height */

	letter-spacing: 0.03em;

	color: #C4C4C4;
}


.edit-profile-billing-container .button{
	width: 130px;
	height: 35px;
	background: #291C43;
	border-radius: 10px;
	filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.45))
}

.edit-profile-billing-container .button2{
	width: 130px;
	height: 35px;
	background: #291C43;
	border-radius: 10px;
	filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.45));
	opacity: 0.4;
}

.edit-profile-billing-container .text-area-left{
	width: 410px;
	height: 30px;
	background: #291C43;
	border-radius: 10px;
	outline: none;
	color: #C4C4C4;
	padding-left: 10px;
	border:0;
}

.edit-profile-billing-container .text-area-right{
	width: 180px;
	height: 30px;
	background: #291C43;
	border-radius: 10px;
	outline: none;
	color: #C4C4C4;
	padding-left: 10px;
	border:0;
}

.edit-profile-billing-container .button-text{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 25px;

	color: #C4C4C4;
}

