.individual-proxy{
	width: 995px;
	height: 41px;

	background: #291C43;
	border-radius: 15px;
	padding: 10px;
}
.individual-proxy .headings{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	margin-right: 10px;

	color: #C4C4C4;

}
.individual-proxy .icons-wrapper{
	list-style-type: none;
}

.individual-proxy .icons-wrapper .icon{
	display: inline;
	padding-right: 10px;
}
