.IndividualCaptcha {
	height: 510px;
	overflow-y: scroll !important;
	overflow-x: hidden !important;
}

.individual-captcha{
	width: 995px !important; 
	height: 41px;

	background: #291C43;
	border-radius: 15px;
	padding: 10px;
}
.individual-captcha .headings{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	margin-right: 10px;

	color: #C4C4C4;

}
.individual-captcha .icons-wrapper{
	list-style-type: none;
}

.individual-captcha .icons-wrapper .icon{
	display: inline;
	padding-right: 10px;
}

.individual-captcha .icons-wrapper .icon .icon-delete{
	filter: invert(58%) sepia(94%) saturate(828%) hue-rotate(334deg) brightness(91%) contrast(81%);
}

.individual-captcha .icons-wrapper .icon .icon-edit{
	filter: invert(74%) sepia(11%) saturate(5266%) hue-rotate(186deg) brightness(97%) contrast(93%);
}