.IndividualTask {
	height: 510px;
	overflow-y: scroll !important;
	overflow-x: hidden !important;
}
.individual-task-wrapper{
	width: 100%;
	background: #291C43;
	border-radius: 15px;
}
.individual-task-wrapper .individual-task  .headings{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 15px!important; 
	line-height: 17px;
	margin-left: auto;
    margin-right: auto;
	vertical-align: middle;

	color: #C4C4C4;
}

.individual-task-wrapper .individual-task  .headings-status{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 11px!important; 
	line-height: 17px;
	opacity: 0.5;
	margin-left: auto;
    margin-right: auto;
	vertical-align: middle;

	color: #C4C4C4;
}

.individual-task-wrapper .individual-task  .headings-other{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 14px!important; 
	line-height: 17px;
	padding-top: 12px;
	margin-right: 30px;
	margin-left: auto;
    margin-right: auto;
	vertical-align: middle;

	color: #C4C4C4;
}
.individual-task-wrapper .individual-task .icons-wrapper{
	list-style-type: none;
	padding-inline-start: 0px!important;
}

.individual-task-wrapper .individual-task .icons-wrapper .icon{
	display: inline;
	padding-right: 5px;
}