.proxies-container{
	width: 100%;
	height: 100vh;
	padding: 15px;
}
.proxies-container h1 p{
	color: #C4C4C4;
}

.proxies-container .page-wrapper{
	width:1020px;
	height: 96%;
	background: #201636;
	border-radius: 25px;
	padding: 15px;
}

.left-control-panel .icons-wrapper {
	list-style-type: none;
}

.left-control-panel .icons-wrapper .icon {
	display: inline;
	padding-right: 10px;
	filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.7));
}

.right-control-panel .icons-wrapper {
	list-style-type: none;
}

.right-control-panel .icons-wrapper .icon {
	display: inline;
	padding-right: 10px;
	filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.7));
}

.proxies-container .table-heading{
	width: 995px;
	height: 43px;
	background: #180F29;
	box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}
.proxies-container .table-heading .headings{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 20px !important;
	line-height: 24px;
	padding-top: 7%;

	color: #C4C4C4;
}


