.proxies-container{
	width: 1080px;
}
.proxies-container h1 p{
	color: #C4C4C4;
}

.proxies-container .page-wrapper{
	width: 1040px;
	height: 100%;
	background: #2B303C;
	border-radius: 25px;
}

.left-control-panel .icons-wrapper {
	list-style-type: none;
}

.left-control-panel .icons-wrapper .icon {
	display: inline;
	padding-right: 10px;
}

.right-control-panel .icons-wrapper {
	list-style-type: none;
}

.right-control-panel .icons-wrapper .icon {
	display: inline;
	padding-right: 10px;
}

.proxies-container .table-heading{
	width: 1020px;
	height: 43px;
	background: #1B1B24;
	box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}
.proxies-container .table-heading .headings{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 20px !important;
	line-height: 24px;
	padding-top: 7%;

	color: #C4C4C4;
}

