.quick-task-container{
	width: 650px;
	height: 150px;

	background: #21232E;
	border-radius: 15px;
	margin: auto;
}

.quick-task-container h1{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 37px;
	letter-spacing: 0.03em;

	color: #C4C4C4;
}
.quick-task-container h2{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.03em;
	padding-top: 12px;

	color: #C4C4C4;
}
.quick-task-container .button{
	width: 610px;
	height: 40px;
	background: #3D4158;
	border-radius: 10px;
	box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.45);
	border:0;
	
}

.quick-task-container .button-text{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 25px;

	color: #C4C4C4;
}