.settings-container{
	width: 100%;
	height: 100vh;
	padding: 10px;
}
.settings-container h1 p{
	color: #C4C4C4;
}

.settings-container .page-wrapper{
	height: 100%;
	background: #2B303C;
	border-radius: 25px;
}
.settings-container .page-wrapper .title-wrapper .settings{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 37px;
	letter-spacing: 0.03em;

	color: #C4C4C4;
}

.settings-container .page-wrapper .setup-wrapper .setup{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 31px;
	letter-spacing: 0.03em;

	color: #C4C4C4;
}