.tasks-container {
	width: 100%;
	height: 100vh;
	padding-left: 10px;
	margin-right:10px;
	margin-top:10px
}

.tasks-container h1 p {
	color: #C4C4C4;
}

.tasks-container .control-panel-wrapper {
	width: auto;
	height: 110px;
	background: #1B1B24;
	border-radius: 25px;
}

.tasks-container .control-panel-wrapper .left-control-panel h1 {
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 30px !important;
	letter-spacing: 0.03em;
	padding-top: 5px;
}

.tasks-container .control-panel-wrapper .left-control-panel .clock {
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 15px !important;
}

.task-container .control-panel-wrapper .middle-control-panel .welcome-message {
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 16px !important;
	letter-spacing: 0.03em;
	text-align: left;
}

.right-control-panel .icons-wrapper {
	list-style-type: none;
	
}

.right-control-panel .icons-wrapper .icon {
	display: inline;
	padding-right: 10px;
}

.tasks-container .table-heading{
	height: 605px;
	background: #2B303C;
	border-radius: 25px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.tasks-container .table-heading-wrapper{
	width: 100%;
	height: 43px;
	background: #1B1B24;
	border-radius: 15px;
	box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
}
.tasks-container .table-heading-wrapper .headings{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 20px !important;

	color: #C4C4C4;
}
.tasks-container .individual-task-wrapper{
	width: 100%;
	height: 41px;

	background: #232530;
	border-radius: 15px;
}
.tasks-container .individual-task-wrapper .individual-task  .headings{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 10px!important; 
	line-height: 17px;

	color: #C4C4C4;
}

.tasks-container .individual-task-wrapper .individual-task  .headings-other{
	font-family: MADE TOMMY;
	font-style: normal;
	font-weight: normal;
	font-size: 14px!important; 
	line-height: 17px;
	padding-top: 12px;
	margin-right: 30px;

	color: #C4C4C4;
}
.tasks-container .individual-task-wrapper .individual-task .icons-wrapper{
	list-style-type: none;
}

.tasks-container .individual-task-wrapper .individual-task .icons-wrapper .icon{
	display: inline;
	padding-right: 10px;
}