.title-container{
	background: #242934;
	width: 100%;
	height: 30px;
	display: flex;
	
}
.title-container .minimize-btn{
	background-image: url('../assets/icons/titlebar/minus.svg')
}
.title-container  .maximize-btn{
	background-image: url('../assets/icons/titlebar/stop.svg')
}
.title-container  .close-btn{
	background-image: url('../assets/icons/titlebar/close.svg')
}

.title-container .buttons-active{
	background: #4F9FEE;
}